.onboarding {
  background: linear-gradient(to bottom, mc('grey', '900') 0%, mc('grey', '700') 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: mc('grey', '50');

  &::before {
    content: '';
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../static/img/splash/synthbg-lowres.png');
    background-position: center center;
    background-size: cover;
    z-index: 0;
    opacity: .75;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  img {
    width: 640px;
    margin-bottom: 3rem;
    z-index: 2;
    animation-duration: 3s;
    box-shadow: 20px 2016px teal;

    @include until($tablet) {
      width: 300px;
    }
  }
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    z-index: 2;
  }
  h2 {
    margin-bottom: 3rem;
    z-index: 2;
  }
  .v-btn {
    z-index: 2;
  }
}
